<div style="    margin: 10px 20px;">
    <h1> Terms of Use</h1>
    <div>
        <div class="wrapper container d-flex flex-column mobile-align m-6">
            <!-- <div class="section1 mobile_view"> -->
            <!-- <h2></h2> -->
            <!-- </div> -->

            <p>
                Updated on {{getDate()}}
            </p>
            <b>
                Welcome to Saarathi! Saarathi is a Virtual Chatbot based on an advanced AI assistant designed to answer
                queries about:
            </b>

            <ul>
                <li>National Curriculum Framework for Foundational stage (NCF-FS), 2022, </li>
                <li>National Curriculum Framework for School Education(NCF-SE), 2023,</li>
                <li>National Education Policy (NEP), 2020, </li>
                <li>Jaadui Pitara - Learning Teaching Material for Foundation Stage, and</li>
                <li>Jaadui Pitara - Teachers’ Handbook.</li>
            </ul>


            (Together “NCF Documents”).

            <b>Saarathi is created and maintained by the National Council for Educational Research and Training
                (Ministry of
                Education, Government of India).</b>

            <b>
                Before using Saarathi, please take a moment to read and understand these Terms of Use (“Terms”). By
                accessing or
                using Saarathi, you agree to abide by these Terms. If you do not agree with any part of these terms,
                please
                refrain from using Saarathi.
            </b>
            <br />
            <br />
            <h4>1. Your Use and Access of Saarthi</h4>
            <br />
            <ul>
                <li>Saarathi, as an advanced AI assistant, uses machine learning and natural language processing
                    technology
                    to
                    provide responses to your queries on the NCF Documents. For a basic overview of how it works, please
                    read these
                    FAQs.</li>
                <li>
                    Saarathi uses the OpenAI API to access OpenAI’s models, including but not limited to ChatGPT,
                    GPT-3.5,
                    GPT-4-8K,
                    GPT-4-32K, and Bhashini APIDALL-E 2, and Whisper. Your use of Saarathi is subject to OpenAI’s terms
                    and
                    conditions, which can be found at OpenAI’s Terms of use.
                </li>
                <li>
                    Saarathi is provided as a tool to help users better understand, clarify and apply the principles and
                    vision of
                    the NCF Documents, in their own context as per their own requirements. Saarathi is not a replacement
                    for
                    the
                    original NCF Documents. Users are advised to refer to the original NCF Documents for complete and
                    authoritative
                    information.
                </li>
                <li>
                    Usage of Saarathi is intended for those who are of legal age and are legally competent to form a
                    binding
                    contract. If you are under 18 years of age, you are not permitted to use Saarathi. By using or
                    accessing
                    Saarathi, you represent and warrant that you are of legal age and are legally competent to form a
                    binding
                    contract (or if not, you've received your parent's or guardian's permission to use Saarathi and they
                    have agreed
                    to these Terms on your behalf).18 years of age or older.
                </li>
                <li>You may use Saarathi solely for educational purposes and in compliance with applicable laws and
                    regulations.</li>
                <li>
                    In order to access Saarathi, you are required to register on Saarathi:
                    <ul>
                        <li>By providing your email ID and a password; or</li>
                        <li>
                            By signing-in using your Gmail ID.
                        </li>
                    </ul>
                </li>
                <li>Please ensure that the information provided during the account creation process is accurate and
                    up-to-date.</li>
                <li> You are responsible for maintaining the confidentiality of your account credentials and for all
                    activities that
                    occur under your account. If you suspect any unauthorized use of your account, please notify us
                    immediately.</li>
                <li>
                    It is possible that your access and use of Saarathi may be disrupted due to technical or operational
                    difficulties and with no prior notice of downtime. We make no guarantee as to the continuous uptime
                    and
                    availability of Saarathi.</li>
            </ul>

            <br />
            <br />
            <h4>2. Your Queries and Interactions on Saarthi</h4>
            <br />

            <ul>
                <li>
                    While you retain ownership of any queries you submit on Saarathi, by submitting queries, you grant
                    us a
                    non-exclusive, royalty-free, worldwide license to use, reproduce, distribute, and display the
                    queries in
                    connection with Saarathi.
                </li>
                <li>
                    We may display queries or summaries thereof received by Saarathi for other Saarathi users as
                    suggestions
                    or prompts. This is for illustrative purposes only, and there will be no reference to you made under
                    any
                    circumstance.
                </li>
                <li>
                    You agree not to input, upload, or transmit any queries that Are inappropriate, defamatory, obscene,
                    abusive, fraudulent, or unlawful.
                </li>
                <li>You shall not engage in any activity that may disrupt or impair the functionality, security, or
                    integrity of Saarathi. Any attempts to gain unauthorized access, interfere with, or damage Saarathi
                    or
                    its associated systems are strictly prohibited and will be dealt with in accordance with the law.
                </li>
            </ul>

            <br />
            <br />
            <h4>3. Your Privacy</h4>
            <br />

            <b>We value your privacy and handle your personal information with care. Please review our Privacy Policy to
                understand how we collect, use, and protect your information. By using Sarathi, you acknowledge and
                agree to
                the terms of our Privacy Policy.</b>


            <br />
            <br />
            <h4>4. Indemnification; disclaimers of warranty; Limitation of liability</h4>
            <br />

            <ul>
                <li>You hereby indemnify, defend and hold harmless us and all of our trustees, advisors, officers,
                    employees, coordinators, owners, agents, information providers, affiliates, licensors and licensees
                    (collectively, the “Indemnified Parties“) from and against any and all liability and costs,
                    including,
                    without limitation, reasonable attorneys’ fees, incurred by the Indemnified Parties in connection
                    with
                    any claim arising out of any breach by you of these Terms. You shall cooperate as fully as
                    reasonably
                    required in the defense of any such claim. We reserve the right, at our own expense, to assume the
                    exclusive defense and control of any matter subject to indemnification by you.</li>
                <li>Saarathi’s goal is to get external feedback in order to improve our systems and make them safer.
                    While
                    we have safeguards in place, the system may occasionally generate incorrect or misleading
                    information
                    and produce offensive or biased content. It is not intended to give advice, provide opinions, or
                    share
                    information beyond its programming.</li>
                <li>Saarathi is provided "as is" without any warranties, whether expressed or implied. We strive to
                    provide
                    a reliable and accurate educational resource, but we cannot guarantee uninterrupted access or
                    error-free
                    operation. Therefore, we shall not be held liable for any damages or losses arising from the use or
                    inability to use Saarathi. In no event shall we be liable for any indirect, incidental,
                    consequential,
                    or punitive damages related to the use of Saarathi.</li>

            </ul>

            <br />
            <br />
            <h4>5. Modifications and Termination</h4>
            <br />
            <ul>
                <li>These Terms take effect when you first use Saarathi and remain in effect until terminated. We
                    reserve the right to modify or terminate Saarathi or any part thereof at any time without prior
                    notice.</li>
                <li>We may also modify these Terms from time to time. It is your responsibility to review the updated
                    Terms. By continuing to use Saarathi after any modifications, you agree to be bound by the revised
                    Terms.</li>

            </ul>
            <br />
            <br />
            <h4>6. Governing law and Dispute resolution </h4>
            <br />
            <b>These Terms shall be governed by and construed in accordance with the laws of India. Any disputes arising
                out of or in connection with these Terms shall be subject to the exclusive jurisdiction of the courts in
                New Delhi. </b>
            <b>Please contact us at [----------] if you have any questions or concerns regarding the Terms. We
                appreciate your cooperation and hope you enjoy engaging with Saarathi!</b>

        </div>

    </div>

    <div class="home-btn"><button (click)="handleNavigation()">Home</button></div>

</div>