<!-- <div class="chat-window-admin-header-mobile">
</div> -->

<!-- <div class="chat-window-header-logo-mobile">
  <div style="float: right;"><button style="margin-top: 15px; margin-left: 75px;">Home</button></div>

  <img src="./assets/img/NCERt.png" style="width: 45px; margin-right: 15px;" />
  <img src="./assets/img/NCF_logo.svg" style="width: 60px" />
  <div style="float: right;"><button (click)="logout()" style="margin-top: 15px; margin-left: 75px;">Logout</button></div>
</div>
 -->

<div class="row chat-header">
  <div class="col-md-6 col-xs-6 chat-header-images" >
    <h1>Ask NCF Saarathi</h1>
    <span class="row-images">
      <img src="./assets/img/NCERt.png" style="width: 45px; margin-right: 15px;" />
      <img src="./assets/img/NCF_logo.svg" style="width: 60px" />
    </span>
  </div>
  <div class="col-md-6 col-xs-6" style=" text-align: end;" >
    <span class="chat-window-header-logo-mobile">
      <button (click)="goToBot()" style="background: white;color: black;border: 1px solid black;">Bot</button>
      <button (click)="logout()" >Logout</button>
    </span>
  </div>
</div>
<!-- <ng-container>
    <c-container [fluid]="true"> -->

      <!-- <div class="wrapper container d-flex flex-column mobile-align"> -->
        <!-- <div class="login-container" style="display: none;">
            <div class="section1 mobile_view">
        
              <div class="mobile_view_logos col-xs-12">
                <img id="img-1" src="./assets/img/NCERt.png" style="width: 55px;">
                <img src="./assets/img/NCF_logo.svg" style="width: 55px;">
              </div>
              <div class="mobile-margin">
                <h5>NCF Saarathi</h5>
              </div>
            </div> -->
<!--         
        
            <div class="text-align-center">
              <a (click)="goToQuestionsList()" style="color: black;
                cursor: pointer; padding-left: 10px" class="home" [ngClass]="{'home-selected': isHomePage}">
                Home
              </a>
                <a (click)="logout()" style="color: black;
                text-decoration: none;
                cursor: pointer; padding-left: 10px" class="logout-bt">
            Logout
        </a>
            </div>
        
          </div> -->

        <!-- </div> -->
    <!-- </c-container>
</ng-container>

<ng-template #userDropdown>
    <c-dropdown alignment="end" variant="nav-item">
        <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
            <c-avatar cTextColor="primary" shape="rounded-1" size="md" src="./assets/img/avatars/profile.png"
                status="success">
            </c-avatar>
        </button>
        <ul cDropdownMenu class="pt-0 pr-5 w-auto">

            <li></li>
        </ul>
    </c-dropdown>
</ng-template> -->